<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/4413edae0d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet"  href="{%static "css/model.css"%}">
    <link rel="stylesheet" href="{%static "css/card.css"%}">
    <link rel="stylesheet" href="{%static "css/cart.css"%}">
<!-- Latest compiled and minified JavaScript -->
    <title>Welcome to HomeShop!</title>
    <style media="screen">
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 120px;
      height: 440px;
      }
      img{
        width: 100px;
        height:250px;
        padding: 0px;
      }

.card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container {
    padding: 2px 16px;
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}
    </style>
  </head>
<body>
  <nav id='navbar' class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/contact">HomeShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Electronics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Laptops</a>
            <a class="dropdown-item" href="/mobiles">Mobiles</a>
            <a class="dropdown-item" href="#">Speakers</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Men's Fashion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Shirt</a>
            <a class="dropdown-item" href="#">Jeans</a>
            <a class="dropdown-item" href="#">T-shirt</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Women's Fashion
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Kurta</a>
            <a class="dropdown-item" href="#">Jeans</a>
            <a class="dropdown-item" href="#">T-shirt</a>
          </div>
        </li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <form class="form-inline" action="#">
          <input class="form-control mr-sm-2" type="text" value="Search">
          <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
        </form>

      </ul>

      <ul class='nav navbar-nav navbar-right'>
        <li><a class='btn btn-outline-light btn-sm cart-icon' href="/cart"><i class="fas fa-cart-plus"></i><span class='badge badge-warning' id='lblCartCount'></span> cart</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <li><a class='btn btn-outline-light btn-sm' href="/accounts/login"><i class="fas fa-user"></i> Login</a></li>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <li><a class='btn btn-outline-light btn-sm' data-toggle="tooltip" title="New user? plz register"
          href="#"><i class="fas fa-user-plus"></i> SignUp</a></li>
      </ul>


</div>
</nav>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
if (localStorage.getItem("cart") == null ) {
  var cart = {};

}
else{
  cart = JSON.parse(localStorage.getItem("cart"));
  if(Object.keys(cart).length==0){
    document.getElementById('lblCartCount').innerHTML= '';
  }else{
    document.getElementById('lblCartCount').innerHTML = Object.keys(cart).length;
  }
}

$ ('.cart').click(function(){
   var idstr = this.id.toString();
   if(cart[idstr] != undefined){
      qty = cart[idstr][0] + 1
   }
   else{
     qty = 1;
     name = document.getElementById('name' + idstr).innerHTML;
     price = document.getElementById('price' + idstr).innerText;
     image = document.getElementById('image' + idstr).src;
     document.getElementById(idstr).innerText = 'Added to cart'
     cart[idstr] = [qty,name,price,image];
   }
   });

</script>
{% block javascript %}
{%endblock javascript%}

{%block body_block%}
{%endblock%}


</body>

</html>
