{%extends "homeshop/base.html"%}
{%block body_block%}
<style media="screen">
  body{
    align:center;
  	margin-left:250px;
  	padding:20px;
  	font-family: sans-serif;
  }

  *{
  	box-sizing: border-box;
  }

  .table{
    align:center;
  	width: 75%;
  	border-collapse: collapse;
  }

  .table td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
    font-size:16px;
    align:center;
  }

  .table th{
  	background-color: darkblue;
  	color:#ffffff;
  }

  .table tbody tr:nth-child(even){
  	background-color: #f5f5f5;
  }

  /*responsive*/

  @media(max-width: 500px){
  	.table thead{
  		display: none;
  	}

  	.table, .table tbody, .table tr, .table td{
  		display: block;
  		width: 100%;
  	}
  	.table tr{
  		margin-bottom:15px;
  	}
  	.table td{
  		text-align: right;
  		padding-left: 50%;
  		text-align: right;
  		position: relative;
  	}
  	.table td::before{
  		content: attr(data-label);
  		position: absolute;
  		left:0;
  		width: 50%;
  		padding-left:50px;
  		font-size:15px;
  		font-weight: bold;
  		text-align: left;
  	}

</style>

<body><br><br><br><br>
<div class="container">
  <ul>
    <div  id = 'image' class="">
    </div>
    <li id='mob-name'></li>
    <li id='mob-qty'>1</li>
    <li id='mob-cost'></li>
  </ul>
</div>
</body>
<script>
if (localStorage.getItem("cart") == null) {
  var cart = {};
}
else{
  cart = JSON.parse(localStorage.getItem("cart"));
  document.getElementById('lblCartCount').innerHTML = Object.keys(cart).length;
}
function showCartItems(cart){
  for (item in cart){
     document.getElementById('mob-name').append(cart[item][1]);
     document.getElementById('mob-cost').append(cart[item][2]);
     let getImage = cart[item][3];
     var image = new Image(100,220);
     image.src = getImage;
     document.getElementById('image').append(image);

  }
}
showCartItems(cart);
</script>
{%endblock%}
