{%extends "homeshop/base.html"%}
{%block body_block%}
<body><br><br><br>
  <div class="container">
    <h1>Men Jeans</h1>
      <div class="row">
        {%for jeans in menjeans%}
        <div class='col-sm-4'><br><br>
           <div class="card" style="width: 18rem;" >
              <img class="card-img-top" id=imagemenjeans{{jeans.id}} src="/media/{{jeans.men_jeans_img}}" alt="Card image cap">
              <div class="card-body">
                 <h5 class="card-title menjeans-name" id="namemenjeans{{jeans.id}}">{{jeans.men_jeans_name}}</h5>
                 <h3><a href="/{{jeans.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                 <h3 class='btn btn-light btn-sm jeans-cost' id="pricemenjeans{{jeans.id}}" ><i class="fas fa-rupee-sign"></i> {{jeans.men_jeans_cost}} </h3>
                 <h4>
                   <a href="/menjeans"> Go to page </a>&nbsp&nbsp
                   <a id ='discard{{jeans.id}}' href='#'><strong></strong></a>
                 </h4>
             </div>
           </div>
        </div>
          {%endfor%}
      </div>

      <div class="container">
        <h1>Laptops</h1>
          <div class="row">
            {%for laptop in laptops%}
            <div class='col-sm-4'><br><br>
               <div class="card" style="width: 18rem;" >
                  <img class="card-img-top" id=imagelaptop{{laptop.id}} src="/media/{{laptop.laptop_img}}" alt="Card image cap">
                  <div class="card-body">
                     <h5 class="card-title laptop-name" id="namelaptop{{laptop.id}}">{{laptop.laptop_name}}</h5>
                     <h3><a href="/{{laptop.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                     <h3 class='btn btn-light btn-sm laptop-cost' id="pricelaptop{{laptop.id}}" ><i class="fas fa-rupee-sign"></i> {{laptop.laptop_cost}} </h3>
                     <h4>
                       <a href="/laptops"> Go to page </a>&nbsp&nbsp
                       <a id ='discard{{laptop.id}}' href='#'><strong></strong></a>
                     </h4>
                 </div>
               </div>
            </div>
              {%endfor%}
          </div>

          <div class="container">
            <h1>Mobiles</h1>
              <div class="row">
                {%for mobile in mobiles%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=image{{mobile.id}} src="/media/{{mobile.mobile_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title mobile-name" id="name{{mobile.id}}">{{mobile.mobile_name}}</h5>
                         <h3><a href="/{{mobile.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm mobile-cost' id="price{{mobile.id}}" ><i class="fas fa-rupee-sign"></i> {{mobile.mobile_cost}} </h3>
                         <h4>
                           <a href="/mobiles"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{mobile.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>

          <div class="container">
            <h1>Men Shirts</h1>
              <div class="row">
                {%for shirt in menshirts%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=imagemenshirt{{shirt.id}} src="/media/{{shirt.men_shirt_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title menshirts-name" id="namemenshirt{{shirt.id}}">{{shirt.men_shirt_name}}</h5>
                         <h3><a href="/{{shirt.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm laptop-cost' id="pricemenshirt{{shirt.id}}" ><i class="fas fa-rupee-sign"></i> {{shirt.men_shirt_cost}} </h3>
                         <h4>
                           <a href="/menshirts"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{shirt.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>

          <div class="container">
            <h1>Men T-shirts</h1>
              <div class="row">
                {%for tshirt in mentshirts%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=imagementshirt{{tshirt.id}} src="/media/{{tshirt.men_tshirt_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title mentshirts-name" id="namementshirt{{tshirt.id}}">{{tshirt.men_tshirt_name}}</h5>
                         <h3><a href="/{{tshirt.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm tshirt-cost' id="pricementshirt{{tshirt.id}}" ><i class="fas fa-rupee-sign"></i> {{tshirt.men_tshirt_cost}} </h3>
                         <h4>
                           <a href="/mentshirts"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{tshirt.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>


          <div class="container">
            <h1>Speakers</h1>
              <div class="row">
                {%for speaker in speakers%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=imagespeaker{{speaker.id}} src="/media/{{speaker.speaker_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title speaker-name" id="namespeaker{{speaker.id}}">{{speaker.speaker_name}}</h5>
                         <h3><a href="/{{speaker.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm speaker-cost' id="pricespeaker{{speaker.id}}" ><i class="fas fa-rupee-sign"></i> {{speaker.speaker_cost}} </h3>
                         <h4>
                           <a href="/speakers"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{speaker.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>


          <div class="container">
            <h1>Women Jeans</h1>
              <div class="row">
                {%for jeans in womenjeans%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=imagewomenjeans{{jeans.id}} src="/media/{{jeans.women_jeans_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title menjeans-name" id="namewomenjeans{{jeans.id}}">{{jeans.women_jeans_name}}</h5>
                         <h3><a href="/{{jeans.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm jeans-cost' id="pricewomenjeans{{jeans.id}}" ><i class="fas fa-rupee-sign"></i> {{jeans.women_jeans_cost}} </h3>
                         <h4>
                           <a href="/womenjeans"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{jeans.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>


          <div class="container">
            <h1>Women Kurtas</h1>
              <div class="row">
                {%for kurta in womenkurtas%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=imagewomenkurta{{kurta.id}} src="/media/{{kurta.women_kurta_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title womenkurta-name" id="namewomenkurta{{kurta.id}}">{{kurta.women_kurta_name}}</h5>
                         <h3><a href="/{{kurta.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm kurta-cost' id="pricewomenkurta{{kurta.id}}" ><i class="fas fa-rupee-sign"></i> {{kurta.women_kurta_cost}} </h3>
                         <h4>
                           <a href="/womenkurtas"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{kurta.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>


          <div class="container">
            <h1>Women T-shirts</h1>
              <div class="row">
                {%for tshirt in womentshirts%}
                <div class='col-sm-4'><br><br>
                   <div class="card" style="width: 18rem;" >
                      <img class="card-img-top" id=imagewomentshirt{{tshirt.id}} src="/media/{{tshirt.women_tshirt_img}}" alt="Card image cap">
                      <div class="card-body">
                         <h5 class="card-title womentshirts-name" id="namewomentshirt{{tshirt.id}}">{{tshirt.women_tshirt_name}}</h5>
                         <h3><a href="/{{tshirt.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                         <h3 class='btn btn-light btn-sm tshirt-cost' id="pricewomentshirt{{tshirt.id}}" ><i class="fas fa-rupee-sign"></i> {{tshirt.women_tshirt_cost}} </h3>
                         <h4>
                           <a href="/womentshirts"> Go to page </a>&nbsp&nbsp
                           <a id ='discard{{tshirt.id}}' href='#'><strong></strong></a>
                         </h4>
                     </div>
                   </div>
                </div>
                  {%endfor%}
              </div>

  </div>
</body>
{%endblock%}
