{%extends "homeshop/base.html"%}
{%block body_block%}
<body>


  <br>
  <br>
  <div class="container">
    <h1>Men Shirts</h1>
      <div class="row">
        {%for shirt in menshirts%}
        <div class='col-sm-4'><br><br>
           <div class="card" style="width: 18rem;" >
              <img class="card-img-top" id=imagemenshirt{{shirt.id}} src="/media/{{shirt.men_shirt_img}}" alt="Card image cap">
              <div class="card-body">
                 <h5 class="card-title menshirts-name" id="namemenshirt{{shirt.id}}">{{shirt.men_shirt_name}}</h5>
                 <h3><a href="/{{shirt.id}}" class='btn btn-info btn-sm' >Product Details</a></h3>
                 <h3 class='btn btn-light btn-sm laptop-cost' id="pricemenshirt{{shirt.id}}" ><i class="fas fa-rupee-sign"></i> {{shirt.men_shirt_cost}} </h3>
                 <h4>
                   <button id="menshirt{{shirt.id}}" class="btn btn-dark btn-sm cart"><i class="fas fa-cart-plus"></i> Add to Cart </button>&nbsp&nbsp
                   <a id ='discard{{shirt.id}}' href='#'><strong></strong></a>
                 </h4>
             </div>
           </div>
        </div>
          {%endfor%}
      </div>

  </div>
</body>
<script>
if (localStorage.getItem("cart") == null ) {
  var cart = {};

}
else{
  cart = JSON.parse(localStorage.getItem("cart"));
  if(Object.keys(cart).length==0){
    document.getElementById('lblCartCount').innerHTML= '';
  }else{
    document.getElementById('lblCartCount').innerHTML = Object.keys(cart).length;
  }
}
$ ('.cart').click(function(){
   var idstr = this.id.toString();
     qty = 1;
     var menshirt_image = 'mensrt_image';
     name = document.getElementById('name' + idstr).innerHTML;
     price = document.getElementById('price' + idstr).innerText;
     image = document.getElementById('image' + idstr).src;
     document.getElementById(idstr).innerText = 'Added to cart'
     console.log('working')
     var x = document.getElementById(idstr);
     cart[idstr] = [qty,name,price,image,menshirt_image];

   localStorage.setItem('cart', JSON.stringify(cart));
   document.getElementById('lblCartCount').innerHTML = Object.keys(cart).length;
});
</script>
{%endblock%}
